body{
  width: 90%;
  margin: auto;
}
div{
  text-align: center;
}
h2{
  text-align: center;
  color: #39BDB0;
}

video{
  display: inline;
}
button{
  display: block;
  margin: auto;
}

@media (max-width: 1000px){
  #arrow{
    display: none;
  }
}

@media(min-width: 1500px){
  #arrow{
    width: 400px;
  }
}

.info{
  background-color: rgba(128, 255, 238, 0.5);
}
